Repository netblue30/firejail, pull requests merged in 2025-03, with the labels that each got.

#6674 bugfix: firecfg: check full filename in check_profile()
  src/firecfg/desktop_files.c
Labels: firecfg, bugfix

#6673 profiles: seahorse: add redirect org.gnome.seahorse.Application
  etc/profile-m-z/org.gnome.seahorse.Application.profile
  src/firecfg/firecfg.config
Labels: firecfg

#6660 feature: block /dev/ntsync & add keep-dev-ntsync command
  contrib/syntax/lists/profile_commands_arg0.list
  etc/profile-a-l/lutris.profile
  etc/profile-m-z/noprofile.profile
  etc/profile-m-z/steam.profile
  etc/profile-m-z/wine.profile
  etc/templates/profile.template
  src/firejail/firejail.h
  src/firejail/fs_dev.c
  src/firejail/main.c
  src/firejail/profile.c
  src/firejail/sandbox.c
  src/firejail/usage.c
  src/man/firejail-profile.5.in
  src/man/firejail.1.in
  src/zsh_completion/_firejail.in
Labels: enhancement

#6680 contrib/vim: add ftplugin file (based on cfg.vim)
  Makefile
  contrib/vim/ftplugin/firejail.vim
Labels: enhancement
